{% extends "layout.html" %}
{% block title %}Soru - {{ score_data.question_number }}{% endblock %}
{% block content %}
  <body style="text-align: center; background-color: #2FA0CA;">  
    <h1 class="title" style="color: #000000;">Soru - {{ score_data.question_number }}</h1>
    <p>{{ question }}
    <br />
    </p>
    <form action="" method="post" name="answer_list">
      <table class="table is-striped is-fullwidth" align="center">           
        {% for answer_key, answer in answers %}
        <tr>
          <td style="text-align: center;">
            <label class="radio">
              <input type="radio" name="answer_keys" value="{{ answer_key }}"/>            
            </label>
            {{ answer.selection }}
          </td>
        </tr>
        {% endfor %}
      </table>
      <br />
      <div class="field is-grouped">
        <div class="control">
          <button class="button is-primary is-small" style="font-size: 20px; background-color: #1a82a8;">Seç</button>
        </div>
      </div> 
    </form> 
    <br />
    <p>Skor: {{score_data.score }}</p>
    <p>Level: {{score_data.level }}</p>
    <br />
    {% if score_data.hearth==3 %}
    <p>Kalan Can: &#10084;&#65039; &#10084;&#65039; &#10084;&#65039;</p>
    {% endif %}
    {% if score_data.hearth==2 %}
    <p>Kalan Can: &#10084;&#65039; &#10084;&#65039;</p>
    {% endif %}
    {% if score_data.hearth==1 %}
    <p>Kalan Can: &#10084;&#65039;</p>
    {% endif %}
    <button style="font-size: 20px; background-color: #1a82a8;"><a href="{{ url_for('score_page') }}">Çıkış!</a></button>   
  </body> 
{% endblock %}