{% extends "layout.html" %}
{% block title %}Soru - {{ score_data.question_number }}{% endblock %}
{% block content %}
<body style="text-align: center;  background-color: #2FA0CA;">
    <h1 style="color: #000000">I am DB!</h1>
    <body style="text-align: center;">      
        <br />
        <br />
        {% if score_data.hearth>1 %}
        <h2 style="color: #B00606">Yanlış cevap.</h2>        
        <br />
        <br />
        <h2 style="color: #B00606"> 
        {% for answer_key, answer in answers %}
            {% if answer.is_true %}
            Doğru cevap {{ answer.selection }} olacaktı.
            {% endif %}
        {% endfor %}         
        </h2>
        <br />
        <br />
        <h2 style="color: #2C4A55">
        <a href="{{ url_for('questions_page') }}"><strong style="text-align: center;">Devam et!</h2></a>
        {% endif %}
        {% if score_data.hearth==1 %}
        <h2 style="color: #B00606">Yanlış cevap. Yalnızca 1 hakkın kaldı.</h2>
        <br />
        <br />
        <h2 style="color: #B00606"> 
        {% for answer_key, answer in answers %}
            {% if answer.is_true %}
            Doğru cevap {{ answer.selection }} olacaktı.
            {% endif %}
        {% endfor %}         
        </h2>
        <br />
        <br />
        <h2 style="color: #2C4A55">
        <a href="{{ url_for('questions_page') }}"><strong style="text-align: center;">Sadece biraz heyecan katıyorum!</h2></a>
        {% endif %}             
    </body>    
</body>
{% endblock %}