{% extends "layout.html" %}
{% block title %}Soru - {{ score_data.question_number }}{% endblock %}
{% block content %}
<body style="text-align: center;  background-color: #2FA0CA;">
    <h1 style="color: #000000">I am DB!</h1>
    <body style="text-align: center;">      
        <br />
        <br />
        <h2 style="color: #D32121">Skorun: {{score_data.score }}</h2>
        <br />
        <br />
        <h2 style="color: #2C4A55">
        <a href="{{ url_for('questions_page') }}"><strong style="text-align: center;">Devam et!</h2></a>     
    </body>    
</body>
{% endblock %}